.header__lang-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    transition: .4s;
  }

.header__lang-link:first-of-type {
    text-decoration: underline;
    margin: 0 18px 0 0;
  }

.header__lang-link:hover {
  opacity: .8;
}