.place__image {
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    min-width: 320px;
    max-height: 460px;
}

@media screen and (max-width: 720px) {
  .place__image {
    max-width: 320px;
    order: 3;
  }
}