.lead {
    max-width: 984px;
    margin: 0 auto 92px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
  
@media screen and (max-width: 984px) {
  .lead {
    max-width: 768px;
    margin-bottom: 88px;
  }
}
  
@media screen and (max-width: 720px) {
  .lead {
    margin-bottom: 64px;
  }
}