.cover__subtitle {
    margin: 0;
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    max-width: 288px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}