.header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 96px);
    margin: 28px auto 56px;
  }

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}
  
@media screen and (max-width: 984px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 760px) {
  .header {
    width: calc(100% - 32px);
  }
}