.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 760px) {
  .lead__title {
    max-width: 400px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 288px;
  }
}