.cover {
    margin: 0 auto 92px;
    position: relative;
    max-width: 1184px;
    height: calc(100vw * 740 / 1184);
    max-height: 740px;
    background-image: url(../images/cover__background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px) {
  .cover {
    margin-bottom: 66px;
  }
}