.cover__overlay {
    position: relative;
    background-image: url(../../../images/cover__background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 1184px;
    min-height: 740px;
    flex-direction: column;
    text-decoration: none;
    color: white;
    background-color: #2A2C2F;
    align-items: center;
    justify-content: center;
}

.cover__overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 720px) {
  .cover__overlay {
    min-height: 200px;
  }
}
