@font-face {
  font-family: 'Inter';
  src: url(../vendor/Inter_Web/inter.css);
}

.body {
  background-color: #2A2C2F;
  color: #fff;
}

.page {
  margin: auto;
  max-width: 1280px;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  margin: 28px auto 56px;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter';
}

.header__lang-link:first-of-type {
  text-decoration: underline;
  margin: 0 18px 0 0;
}

.lead {
  max-width: 984px;
  margin: 0 auto 92px;
  text-align: center;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  margin: 0 0 8px;
  width: 100%;
}

.lead__caption {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

.intro {
  max-width: 984px;
  margin: 0 auto 92px;
}

.intro__title {
  margin: 0 0 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.intro__list {
  list-style: none;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;  
}

.intro__list-text {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;  
}

.intro__list-number {
  font-weight: 200;
}

.photo-grid {
  margin: 0 auto 92px;
  justify-content: center;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
 width: 100%;
}

.places {
  max-width: 984px;
  margin: 0 auto 92px;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
  margin: 0 0 80px;
}

.place:last-of-type {
  margin: 0;
}

.place__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__image {
  grid-column: 1;
  grid-row: 2;
  max-width: 100%;
  min-width: 320px;
  max-height: 460px;
}

.place__website {
  align-self: flex-end;
}

.place__website-heading {
  margin: 0 0 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  transition: .4s;
}

.place__link:hover {
  opacity: 0.6;
}

.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  margin: 0 0 26px;
  align-self: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph {
  
}
 
.cover {
  margin: 0 auto 92px;
  position: relative;
  max-width: 1184px;
  height: calc(100vw * 740 / 1184);
  max-height: 740px;
  background-image: url(../images/cover__background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 2;
}

.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 2;
}

.cover__overlay {
  background-color: #2A2C2F;
  opacity: .3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
}

.cover__overlay:hover {
  opacity: .8;
}

.footer {
  max-width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

.footer__links {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link {
  margin: 0 18px 0 0;
  text-decoration: none;
  color: #fff;
  transition: .4s;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .7;
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }

  .lead {
    max-width: 928px;
  }

  .intro {
    max-width: 928px;
  }

  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }

  .places {
    max-width: 928px;
  }

  .place {
    gap: 48px 32px;
    grid-template-columns: 440px 456px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 720px;
    margin-bottom: 88px;
  }

  .lead {
    max-width: 768px;
    margin-bottom: 88px;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .photo-grid {
    gap: 16px;
    max-width: 720px;
  }

  .places {
    max-width: 720px;
  }

  .place {
    max-width: 720px;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }

  .place__title {
    font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 46px;
  }

  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    width: calc(100% - 32px);
  }
  
  .header__logo {
    width: 142px;
  }

  .header__lang-links {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .lead {
    margin-bottom: 64px;
  }

  .lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
  
  .lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  
  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    width: calc(100% - 32px);
    margin-bottom: 64px;
  }

  .intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .photo-grid {
    width: calc(100% - 32px);
    gap: 12px;
    margin-bottom: 64px;
  }

  .places {
    max-width: 540px;
    margin-bottom: 66px;
  }
  
  .place {
    gap: 32px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .place__title {
    margin: auto;
    width: calc(100% - 32px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    order: 1;
  }

  .place__website {
    margin: auto;
    width: calc(100% - 32px);
    order: 2;
  }

  .place__image {
    max-width: 320px;
    order: 3;
  }

  .place__paragraph {
    max-width: 288px;
    margin: 0 0 25px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  .place__paragraphs {
    font-size: 16px;
    margin: auto;
    width: 90%;
    order: 4;
  }

  .cover {
    margin-bottom: 66px;
  }

  .cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 288px;
    align-items: left;
  }

  .footer__links {
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 0 0 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link {
    margin: 0 0 32px
  }
}

