.footer {
    max-width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    max-width: 288px;
  }
}
  